<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Internet Permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HireMatch">

        <!-- Splash Screen -->
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- Authentication -->
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false" />

        <activity
            android:name=".activities.RegisterActivity"
            android:exported="false" />

        <activity
            android:name=".activities.ForgotPasswordActivity"
            android:exported="false" />

        <!-- Role Selection -->
        <activity
            android:name=".activities.RoleSelectionActivity"
            android:exported="false" />

        <!-- Candidate Module -->
        <activity
            android:name=".activities.CandidateDashboardActivity"
            android:exported="false" />

        <activity
            android:name=".activities.CandidateProfileActivity"
            android:exported="false" />

        <activity
            android:name=".activities.UploadResumeActivity"
            android:exported="false" />

        <activity
            android:name=".activities.ATSScoreActivity"
            android:exported="false" />

        <!-- HR Module -->
        <activity
            android:name=".activities.HRDashboardActivity"
            android:exported="false" />

        <activity
            android:name=".activities.CompanyProfileActivity"
            android:exported="false" />

        <activity
            android:name=".activities.CreateJobActivity"
            android:exported="false" />

        <activity
            android:name=".activities.JobManagementActivity"
            android:exported="false" />
        <activity
            android:name=".activities.EditJobActivity"
            android:exported="false" />




    </application>

</manifest>